body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* img {
  max-width: 40%
} */

.carousel {
  display: inline-block;
  height: 35em;
  margin: 0 auto;

}
/* .card-img{
  max-width: 100px;
  max-height: 100px;
} */

/* .articleContainer {
  display: flex;
  justify-content: space-around;
} */
